
#pierwszy{
    font-family: Tahoma;
    background-color: #7DA453;
color: white;
height: 120px;
width: 40%;
float: left;
}
#drugi{
    float: left;
    font-family: Tahoma;
    background-color: #7DA453;
color: white;
height: 120px;
width: 40%;
}
#trzeci{
    float: right;
    font-family: Tahoma;
    background-color: #7DA453;
color: white;
height: 120px;
width: 20%;
}
.kalendarz{
    float: left;
    font-family: Tahoma;
background-color: #AED581;
width: 200px;
height: 100px;
margin: 7px;
border: 1px;
border-style: solid;
border-color: #7DA453;
}
.kalendarz:hover{
    font-family: Tahoma;
background-color: #7DA453;
color: white;
}
#stopka{
    float: left;
    width: 100%;
    font-family: Tahoma;
background-color: #7DA453;
color: white;
padding: 5px;
}
h5{

    font-family: Tahoma;
text-align: center;
}
form{
    font-family: Tahoma;
padding-top: 50px;
}
